.vs
ENgine/Projects/Windows/**/x64/Debug
ENgine/Projects/Windows/**/x64/Release
**/Logs/*.txt
*.vcxproj.user
EditorRelease
Editor/DebugInfo
Editor/ENgine/ExportBinaries/Oak*.dll
Editor/ENgine/ExportBinaries/Oak*.exe
Editor/ENgine/CppBuild/include
Editor/ENgine/CppBuild/lib
Editor/eastl*.dll
Editor/Oak*.dll
Editor/Oak*.exe
Editor/imgui.ini